.grp-btn{
    &--left{
        border-radius: 0 5px 5px 0;
        background-color: $color-red;
        color: white;
        
    }
    &--right{
        border-radius: 5px 0 0 5px ;
        background-color: $color-dark-red;
        color: white;
    }
}

