.card{
    border-radius: 10px;
    // height:400px;
}

.card-img, .card-transform{
    border-radius: 10px;
    transition: all, .2s;
    background-size: cover;
    &:hover{
        margin-top: -3px;
        box-shadow: 0 5px 7px rgba(black, 0.3);
    }
}

.card-h200{
    position: relative;
    &_right{
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    &_left{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
}

.brand-img{
    filter: opacity(50%) grayscale(100%) ;
    &:hover{
        filter: none;
    }
}

.card-img-2{
    border-radius: 10px;
    
        z-index: -1;
        background-image:url(/img/iran.jpg) linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));    }

  