.search-box{
    width: 500px !important;
}


.left{
    border-radius: 0 5px 5px 0;
    background-color: white;
    
}
.middle{
    border-radius: 0 ;
    background-color: white;
    &:focus{
        outline: none;
        border: none;
    }
}
.right{
    border-radius: 5px 0 0 5px ;
    background-color: white;

}