.bg-gray {
  background: #dadada;
}

.grp-btn--left {
  border-radius: 0 5px 5px 0;
  background-color: #ec0101;
  color: white;
}

.grp-btn--right {
  border-radius: 5px 0 0 5px;
  background-color: #cd0a0a;
  color: white;
}

.main-carousel__item img {
  border-radius: 10px;
}

#carouselExampleIndicators > ol > li.carousel_indicator {
  width: 7px !important;
  height: 7px !important;
  border-radius: 50%;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

#carouselExampleIndicators > ol > li.carousel_indicator.active {
  width: 30px !important;
  height: 7px !important;
  border-radius: 10% !important;
}

.card {
  border-radius: 10px;
  outline: none;
}

.radius {
  border-radius: 10px;
}

.card-img, .card-transform {
  border-radius: 10px;
  -webkit-transition: all, .2s;
  transition: all, .2s;
  background-size: cover;
}

.card-img:hover, .card-transform:hover {
  margin-top: -3px;
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
}

.card-h200 {
  position: relative;
}

.card-h200_right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.card-h200_left {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.app_card {
  border: none;
  overflow: hidden;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.product_img_bg {
  height: 180px;
  background-size: cover;
}

.product_card_overlay {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 190px;
  background-color: rgba(255, 255, 255, 0.432);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.app_card:hover .product_icons_wraper {
  opacity: 1;
}

.app_card:hover .app_card_image {
  opacity: 0.5;
}

.app_card_image {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px;
}

.product_icons_wraper {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.product_icons_wraper a .fas:hover {
  color: #BD2130;
  font-size: 18px;
}

.product_icons_wraper a .fas {
  font-size: 15px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.product_rating_stars .fa {
  font-size: 10px;
  padding: 0;
}

.product_icons {
  background-color: white;
  padding: 8px 10px 5px 10px;
  border-radius: 10px;
}

.checked {
  color: orange;
}

.card_shopping_icon {
  font-size: 20px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.card_shopping_icon:hover {
  color: #BD2130;
  font-size: 22px;
}

*:focus,
*:active {
  outline: none !important;
  border: none;
  /* border-color: inherit !important; */
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.search-box {
  width: 500px !important;
  border: none;
}

.search-box:focus {
  border: none;
}

@media (max-width: 1000px) {
  .search-box {
    width: 400px !important;
  }
}

.search-box2 {
  width: 100% !important;
}

.left {
  border-radius: 0 5px 5px 0 !important;
  background-color: white;
}

.middle {
  border-radius: 0;
  background-color: white;
}

.middle:focus {
  outline: none;
  border: none;
}

.right {
  border-radius: 5px 0 0 5px !important;
  background-color: white;
}

@media (min-width: 1000px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.menu-btn, .menu-btn-acc, .menu-btn-shop {
  cursor: pointer;
  -webkit-transition: right 0.4s ease;
  transition: right 0.4s ease;
  width: 35px;
  height: 35px;
  text-align: center !important;
  border-radius: 5px;
}

.menu-btn .fas, .menu-btn-acc .fas, .menu-btn-shop .fas {
  font-size: 1.3rem;
  line-height: 35px;
  text-align: center;
}

.menu-btn button .far, .menu-btn-acc button .far, .menu-btn-shop button .far {
  font-size: 1.3rem;
  line-height: 35px;
  text-align: center;
}

.menu-btn button .fas, .menu-btn-acc button .fas, .menu-btn-shop button .fas {
  font-size: 1.3rem;
  line-height: 35px;
  text-align: center;
}

.menu-btn, .menu-btn-acc {
  position: absolute;
  top: 15px;
}

.menu-btn {
  right: 15px;
}

.menu-btn-acc {
  left: 15px;
}

.menu-btn.click {
  right: 260px;
}

.menu-btn.click span:before {
  content: '\f00d';
}

.sidbar-menu {
  position: fixed;
  width: 250px;
  height: 100%;
  right: -250px;
  background-color: white;
  -webkit-transition: right 0.4s ease;
  transition: right 0.4s ease;
  z-index: 2;
}

.sidbar-menu .sidbar-text {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  line-height: 55px;
}

.sidbar-menu.show {
  right: 0;
}

.sidbar-menu ul {
  height: 100%;
  width: 100%;
  list-style: none;
}

.sidbar-menu ul .feat-show.show {
  display: block;
}

.sidbar-menu ul .serv-show.show1 {
  display: block;
}

.sidbar-menu ul .digi-show.show2 {
  display: block;
}

.sidbar-menu ul .Clothing-show.show3 {
  display: block;
}

.sidbar-menu ul .beauty-show.show4 {
  display: block;
}

.sidbar-menu ul li {
  line-height: 40px;
}

.sidbar-menu ul li a {
  padding-right: 20px;
  font-weight: bold;
  display: block;
  width: 100%;
  position: relative;
}

.sidbar-menu ul li a:hover, .sidbar-menu ul li a:active, .sidbar-menu ul li a:focus {
  background-color: #f1efef !important;
  color: #C82333;
}

.sidbar-menu ul li a span {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sidbar-menu ul li a span.rotate {
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

.sidbar-menu ul ul {
  position: static;
  display: none;
}

.sidbar-menu ul ul li {
  line-height: 30px;
}

.sidbar-menu ul ul li a {
  padding-right: 30px;
  font-size: 0.8rem;
}

.list-unstyled li {
  margin-top: 10px;
}

.br-left {
  border-radius: 0 5px 5px 0;
}

.br-right {
  border-radius: 5px 0 0 5px;
}

.MyAccount-navigation-link:hover {
  background-color: #f1efef;
}

.is-active {
  background-color: #F8F9FA;
}

.is-active a {
  color: #C82333 !important;
}

.mega-menu {
  width: 950px;
  overflow: hidden;
  padding: 10px;
  outline: none;
  border: none;
  position: absolute;
  right: 10px;
  top: 50px;
}

@media (max-width: 500px) {
  .mega-menu {
    width: 100%;
  }
}

.sub-menu:hover, .sub-menu:focus, .sub-menu:active {
  background-color: #f1efef !important;
  color: #C82333;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #535353;
  background-color: #f1efef;
}

@font-face {
  font-family: "iransans";
  src: url("../font/A-Iranian-Sans/IRANSansWeb(FaNum).woff2");
}

@font-face {
  font-family: "iransans";
  src: url("../font/A-Iranian-Sans/IRANSansWeb(FaNum)_Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "iransans";
  src: url("../font/A-Iranian-Sans/IRANSansWeb(FaNum)_Medium.woff2");
  font-weight: medium;
}

@font-face {
  font-family: "iransans";
  src: url("../font/A-Iranian-Sans/IRANSansWeb(FaNum)_Light.woff2");
  font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.9rem;
  font-family: "iransans";
}

ul li {
  list-style: none;
}

body {
  background: #f4f4f8;
}

a {
  text-decoration: none;
  color: #5f5f5f;
}

a:hover {
  color: #383838;
  text-decoration: none;
}

.bg-primary {
  height: 300px;
}

.icon-size-sm {
  font-size: 15px;
}

.icon-size-md {
  font-size: 20px;
}

.icon-bg {
  padding: 10px;
  background-color: #F4F4F8;
  border-radius: 25px;
  cursor: pointer;
}

.icon-bg:hover {
  color: #DC3545;
}
/*# sourceMappingURL=style.css.map */