@import "./colors";
@import "./buttons";
@import "./carousel";
@import "./card";
@import "./_navbar";
@import "./footer";
@import "./account";




@font-face {
    font-family: "iransans";
    src: url("../font/A-Iranian-Sans/IRANSansWeb\(FaNum\).woff2");
}
@font-face {
    font-family: "iransans";
    src: url("../font/A-Iranian-Sans/IRANSansWeb\(FaNum\)_Bold.woff2");
    font-weight: bold;
}
@font-face {
    font-family: "iransans";
    src: url("../font/A-Iranian-Sans/IRANSansWeb\(FaNum\)_Medium.woff2");
    font-weight: medium;
}
@font-face {
    font-family: "iransans";
    src: url("../font/A-Iranian-Sans/IRANSansWeb\(FaNum\)_Light.woff2");
    font-weight: lighter;
}

// 

*{
    margin: 0 ;
	padding: 0 ;
    box-sizing: border-box;
    font-size: 0.9rem ;
    font-family: "iransans";
    // font-weight: lighter;

}


body{
    background: rgb(244, 244, 248);
}

a{
    text-decoration: none;
    color: rgb(95, 95, 95);
    &:hover{
        color: rgb(56, 56, 56);
        text-decoration: none;
    }
}

.bg-primary{
    height: 300px;
}

.spacer{
    height: 5px;
    display: block;
}
