@import "./colors";
@import "./buttons";
@import "./carousel";
@import "./card";
@import "./_navbar";
@import "./footer";


*{
    margin: 0 ;
	padding: 0 ;
    box-sizing: border-box;
}


body{
    background: rgb(244, 244, 248);
    font-size: 0.8rem !important;
}

a{
    text-decoration: none;
    color: rgb(95, 95, 95);
    &:hover{
        color: rgb(56, 56, 56);
        text-decoration: none;
    }
}

.bg-primary{
    height: 300px;
}

